<a href="https://colab.research.google.com/github/putriendah/Basic-Python-Programming-for-Data-Science/blob/main/Putri_Endah_Cahyani_1900015014.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Input & Output pada Pyhton**

In [ ]:
# Membuat input bertipe data string (str)
nama = input("Nama : ")
umur = input("Umur : ")
alamat = input("Alamat : ")

Nama : Putri Endah Cahyani
Umur : 20
Alamat : Pati

In [ ]:
print(nama)
print(umur)
type(nama)

Putri Endah Cahyani
20

str

In [ ]:
# Membuat input bertipe data integer (int)
angka10 = int(input())
print(angka10)

10
10

In [ ]:
# Membuat input beripe data float
angka3 = float(input())
print(angka3)

2
2.0

**Menampilkan Output cara pertama**

In [39]:
print(' putri '+" " +' UAD '+ " " +' pati ')

 putri   UAD   pati

**Menampilkan Output cara kedua**

In [43]:
txt1 = "Nama saya {Putri Endah Cahyani}, Saya berumur {20}".format(nama = "Putri Endah Cahyani", umur = 20)
txt1

KeyError: ignored

In [44]:
txt2 = "Nama saya {0}, Saya berumur {1}".format("Dahlan",18)
txt2

'Nama saya Dahlan, Saya berumur 18'

In [45]:
txt3 = "Nama saya {}, Saya berumur {}".format("Dahlan",18)
txt3

'Nama saya Dahlan, Saya berumur 18'

**Menampilkan Output cara ketiga**

In [46]:
print("Nama saya %s yang berumur %s dan bertempat tinggal di %s" %(nama, umur, alamat))

NameError: ignored

# **Variabel, Tipe Data, Dan Konversinya**

**Membuat sebuah variabel dengan berbagai tipe data Python**

In [47]:
var1 = 'Assalamualaikum Dunia!' #String
var2 = 1234567890 # int
var3 = 0.123456789 # float
var4 = False #bool
var5 = 1j+1 #complex

In [48]:
var7=' belajar bersama Pejuang Data'
print(var7)

 belajar bersama Pejuang Data

**Memanggil variabel dan menampilkan**

In [49]:
var1

'Assalamualaikum Dunia!'

In [50]:
print(var1) #tipe data string
print(var2) #tipe data integer
print(var3) #tipe data float
print(var4) #tipe data boolean
print(var5) #tipe data Complex

Assalamualaikum Dunia!
1234567890
0.123456789
False
(1+1j)

In [51]:
#Mencetak variabel punya kamuuch
#String

#Int

#Float

#Boolean

#Complex

**Melihat Tipe Data dari Suatu Variabel**

In [37]:
type(var1)

NameError: ignored

In [ ]:
#Mengecek tipe variabel
#String

#Int

#Float

#Boolean

#Complex

In [52]:
print(var1,'Tipe data var1:', type(var1))
print(var2,'Tipe data var2:', type(var2))
print(var3,'Tipe data var3:', type(var3))
print(var4,'Tipe data var4:', type(var4))
print(var5,'Tipe data var5:', type(var5))

Assalamualaikum Dunia! Tipe data var1: <class 'str'>
1234567890 Tipe data var2: <class 'int'>
0.123456789 Tipe data var3: <class 'float'>
False Tipe data var4: <class 'bool'>
(1+1j) Tipe data var5: <class 'complex'>

**Konversi Tipe Data**

In [35]:
number = 8
print("data =", number, ", type =", type(number))

data = 8 , type = <class 'int'>

In [36]:
# Mengkonversi tipe data integer
kon_float = float(number)
kon_str = str(number)
kon_bool = bool(number) #False jika integer = 0, lainnya True (perhatikan hasilnya)

# Melihat data yang telah dikonversi
print("data = ", kon_float , ",type =", type(kon_float))
print("data = ", kon_str , ",type =", type(kon_str))
print("data = ", kon_bool , ",type =", type(kon_bool))

data =  8.0 ,type = <class 'float'>
data =  8 ,type = <class 'str'>
data =  True ,type = <class 'bool'>

#**Berbagai Struktur Data di Python**

**List**

In [17]:
a = [1, 2.2, 'python']
a

[1, 2.2, 'python']

In [21]:
x = [5,10,15,20,25,30,35,40]
print(x[5])
print(x[-3])
print(x[4:5])
print(x[:5])
print(x[-2:])
print(x[1:8:2])

30
30
[25]
[5, 10, 15, 20, 25]
[35, 40]
[10, 20, 30, 40]

In [23]:
#Mengganti elemen
x = [1,2,3]
x[2]=6
print (x)

[1, 2, 6]

In [25]:
#Menambah elemen
x = [1,2,3]
x[2]=4
x.append(8) #append artinya menambah
print(x)

[1, 2, 4, 8]

In [26]:
binatang = ['kambing', 'zebra', 'kelinci', 'gajah']
del binatang[2]
print(binatang)

['kambing', 'zebra', 'gajah']

In [29]:
del binatang [2]
print(binatang)

IndexError: ignored

In [30]:
s = "Assalamualaikum Dunia!"
print(s[4]) 		#ambil karakter kelima dari string s
print(s[6:11]) 		#ambil karakter ketujuh hingga sebelas dari string s
s = "Halo Dunia!"	#ubah isi string s menjadi "Halo Dunia!", seharusnya berhasil karena mutable
print (s)

l
muala
Halo Dunia!

In [32]:
s[3]="d"

TypeError: ignored

# **Tuple**

In [13]:
t = (5,'program', 1+3j)
t

(5, 'program', (1+3j))

In [14]:
t = (5,'program', 1+3j)
print(t[1])
print(t[0:3])

program
(5, 'program', (1+3j))

In [15]:
print(t[0]=10) #Kok gagal, kenapa hayoooooo

SyntaxError: ignored

In [16]:
a = (5, 6, 7,'aku')#bikin sendiri donk, kreatif dikit napa
print (a)
print(a[1])
del[]

(5, 6, 7, 'aku')
6

### **Set**

In [10]:
a = {1,2,2,3,3,3}
print(a)

{1, 2, 3}

In [12]:
a = {1,2,3,5,6,7,8,9,0}
print(a[1])

TypeError: ignored

### **Dictionary**

In [5]:
d = {1:'value','key':2}
print(type(d))

<class 'dict'>

In [6]:
d = {1:'value','key':2}
print(type(d))
print("d[1] = ", d[1]);
print("d['key'] = ", d['key']);

<class 'dict'>
d[1] =  value
d['key'] =  2

In [7]:
d = {1:'value','key':2}
print(type(d))
print("d[1] = ", d[1]);
print("d['key'] = ", d['key']);

<class 'dict'>
d[1] =  value
d['key'] =  2

In [9]:
# Nyobain error
print("d['2'] = ", d['2']);

KeyError: ignored

### **Konversi Struktur Data**

In [3]:
list1 = [1,3,5]
list2 = ["satu","tiga","lima"]
print("data = ", list1 , ",type =", type(list1))

data =  [1, 3, 5] ,type = <class 'list'>

In [4]:
# Mengkonversi struktur data list
kon_tuple = tuple(list1)
kon_set = set(list1)
kon_dict = dict(zip(list2,list1))

# Melihat data yang telah dikonversi
print(kon_tuple)
print(kon_set)
print(kon_dict)

(1, 3, 5)
{1, 3, 5}
{'satu': 1, 'tiga': 3, 'lima': 5}